# ======================
# Python cache
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Data & results
# ======================
data/

# ======================
# Models / artifacts
# ======================
*.pt
*.pth
*.ckpt

# ======================
# Archives
# ======================
*.zip

# ======================
# Logs / env
# ======================
*.log
.env
